@using EFTest.ViewModels.StudentCourses;

@model CreateStudentCourseViewModel

<h1>Create</h1>

<h4>Matrícula</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly"
                 class="text-danger"></div>
            <div class="form-group">
                <select asp-for="StudentId"
                        class="form-control">

                        <option value="">Selecione um aluno</option>

                    @foreach (var s in Model.Students)
                    {
                        <option value="@s.Id">
                            @s.FirstMidName @s.LastName
                        </option>
                    }
                </select>
            </div>

            <div class="form-group">
                @for (int i = 0; i < Model.SelectedCourses.Count; i++)
                {
                    <div class="form-check">
                        <input  class="checkbox" type="checkbox"
                                asp-for="SelectedCourses[i].IsSelected"
                                class="form-check-input" />
                        <input type="hidden"
                                asp-for="SelectedCourses[i].Id" />
                        <label asp-for="SelectedCourses[i].IsSelected"
                                class="form-check-label">
                            @Model.SelectedCourses[i].Name
                        </label>
                    </div>
                    
                }
            </div>

            <div>
                <input type="submit" value="Salvar"
                       class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>